<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-button expand="full" *ngFor="let tela of telas" [routerLink]="tela.path">
  {{ tela.text }}
</ion-button>
</ion-content>
